*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(250, 250, 250);
}

header{
    max-width: 450px;
    margin: 50px auto;
}

header h1{
    font-weight: 200;
}

header span{
    font-weight: 600;
}

header p{
    line-height: 1.5;
    color: gray;
}

.card_container{
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_container .box{
    width: 350px;
    padding: 20px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px gray;
    position: relative;
    overflow: hidden;
}

.card_container .box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    /* border-radius: 15px; */
}
.card_container .box_orange::after{
    background-color: rgb(236, 155, 4)
}

.card_container .box_red::after{
    background-color: red
}

.card_container .box_cyan::after{
    background-color: rgb(35, 197, 197);
}

.card_container .box_blue::after{
    background-color: rgb(115, 115, 235);
}

.card_container .box_push{
    /* display: none; */
    transform: translateY(50%);
}

.box p{
    color: gray;
}

@media screen and (max-width:780px) {
    .card_container .box_push{
        transform: translateY(0);
    }
}